header {
    height: 70px;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 26px;
    justify-content: space-between;
}